/* reset de propriedades do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #d7d5d5;

}

/******************** HEADER *********************/
header,
footer {
    width: 100%;
    height: 10%;
    background-color: #616161;
}

/* caixa para centralizar o conteúdo */
.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;
    /* border: 3px solid salmon; */
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 26px;
    font-weight: 100;
    color: white;
    /* border: 3px solid white; */
}

.ux {
    font-size: 30px;
    margin-left: 3px;
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
    /* border: 3px solid white; */
}

nav a {
    display: flex;
    width: 40%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #EFEFEFEF;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    transition: background-color 0.4s, margin-left 0.8s, margin-buttom 0.8s, border-radius 0.4s, box-shadow 0.4s;
}

nav a:hover {
    color: #e8e8e8;
    text-decoration: underline;
    font-size: oblique;
    background-color: rgba(207, 207, 207, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 17px;
    box-shadow: 0, 6, 8px, black;
}

/******************** Main *********************/
main {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 80%;

}

/* div com a class main-flex 
    flex container
*/
.main-flex {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;


}

.harmonia {
    /* margin: 10px; */
    width: 700px;
    height: 100%;
    /* border: 2px solid blue; */
    background-color: #f1f1f1;
}

.harmonia h2 {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #808080d0;
}

.harmonia p {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    color: #808080d0;
}

aside {
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;

    align-items: stretch;

    background-color: #f1f1f1;

    /* border: 2px solid rgb(0, 0, 0);  */
}

aside article {
    background-color: white;
    /* width: 100%;
    height: 180px;
    color: #808080d0; */

}

aside article h3 {
    width: 100%;
    color: #a8a8a8;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #808080d0;
}

img {
    width: 100%;
}
.button{
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQGFutjtr7lXTOnusZFnIlLKR1gYkDkJ72MutXWl-T6mvG0oRrp);
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
aside .buscar-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

aside article input, 
aside article button {

    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px
}
aside button{
    width: 30px ;
}
aside article input {
    border: 1px solid #a8a8a8;
    outline: 5px;
    padding-right: 5px ;
    padding-left: 5px;
}