p{
    font-family:'Courier New', Courier, monospace;
    color: beige;
}
h1{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: aliceblue;}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
  
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: salmon;
    border: 1px solid rgb(215, 3, 3);
    border-radius: 5px;
    overflow: auto;
}